<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app
   xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5">

	<servlet>
		<servlet-name>velocity</servlet-name>
		<servlet-class>org.cipango.console.VelocityConsoleServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>StatisticGraphServlet</servlet-name>
		<servlet-class>org.cipango.console.StatisticGraphServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>SvgServlet</servlet-name>
		<servlet-class>org.cipango.console.SvgServlet</servlet-class>
	</servlet>
	

	<servlet-mapping>
	  <servlet-name>velocity</servlet-name>
	  <url-pattern>*.vm</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
	  <servlet-name>StatisticGraphServlet</servlet-name>
	  <url-pattern>statistics/sessions.png</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>StatisticGraphServlet</servlet-name>
	  <url-pattern>statistics/messages.png</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>StatisticGraphServlet</servlet-name>
	  <url-pattern>statistics/memory.png</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>StatisticGraphServlet</servlet-name>
	  <url-pattern>statistics/cpu.png</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
	  <servlet-name>StatisticGraphServlet</servlet-name>
	  <url-pattern>statistics/threads.png</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	  <servlet-name>SvgServlet</servlet-name>
	  <url-pattern>message.svg</url-pattern>
	</servlet-mapping>
	
  <welcome-file-list>
    <welcome-file>about.vm</welcome-file>
  </welcome-file-list>
  
   <listener>
    <listener-class>org.cipango.littleims.icscf.oam.ConsoleAdapter</listener-class>
  </listener>
</web-app>
